/* *{
    margin: 0px;
    padding: 0px;;
}



.logosuperior{
    padding-top: 16px;
    max-width: auto;
    min-width: auto;
    position: relative;
    text-align: center;
    background-color: rgb(240, 21, 21);
}


.barra-superior{
    overflow: hidden;
    background-color: #f01515;
    border-top-color: rgb(248, 77, 77);
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: 1px 0px 10px red;
    

}
.barra-superior ul{
    list-style-type: none;
    
}

.barra-superior > ul > li > .dropdown{
    float: left;
   

}
.barra-superior ul li a{
    text-decoration: none;
    display: block;

}
.dropdown{
    float: left;
}



.dropdown-content > ul > li > a{
    text-align: center;
    list-style-type: none;
    display: block;
    padding: 16px;
    background-color: #00b1e7;
    color:white;
   
    
}

.dropdown-content > ul > li > a:hover{
    background-color: white;
    color:#f01515;
    border-top-color: #f01515;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: #f01515d3;
    border-right-style: solid;
    border-right-style: 2px;
    border-left-color: #00e7ad;
    border-left-style: solid;
    border-left-style: 2px;
   

    
}

.dropdown .dropdown-button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 16px;    
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
    
}
.dropdown .dropdown-button:hover{
    background-color: white;
    color:#f01515;
    
    
    
}

.dropdown ul{
    list-style-type: none;
}


.dropdown .dropdown-content{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    max-height: 0px;
    
    position: absolute;
    overflow: hidden;
    transition: max-height 800ms;
    
}
.dropdown:hover .dropdown-content{
    
    max-height: 300px;
    
    
}
.dropdown-button-right{
    float: right;
}

.barra-lateral ul{
    list-style-type: none;
}

.barra-lateral ul li a{
    text-decoration: none;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.barra-lateral ul li a:hover{
    background-color: #f01515;
    color: white;
    transition: 400ms;
}


.barra-lateral {
    overflow: hidden;
    box-shadow: 1px 1px 12px #CBCBCB;
    float: left;
    color: #f01515;
    height: 100vh;
}

.barra-lateral  h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 16px;
}
.radio-online{
    background-color: #f01515;
    height:600px;;
    
}
.radio-online p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
/* .radio-online:hover{
    background-color: #36B4A7;
    color: white;
} */

.barra-lateral-right{
    float: right;
    overflow: hidden;
    box-shadow: 1px 1px 12px #CBCBCB;
    height: 100vh;
    width: 375px; b
    background-image: linear-gradient(white,#00b1e742);
    position: relative;
}

.barra-lateral-right .logo-eu{
    border-radius: 50%; 
    width: 100px; 
    height:100px;
    text-align: center;    
}

.barra-lateral-right h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px;
    text-align: center;
    color: #f01515;
}

.barra-lateral-right p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: #f01515;
    
}

.corpo-da-pagina h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f01515;
    padding-top: 16px;
    
}

.conteudo{
    float: left;
    
}
.conteudo > h1{
    text-align: center;
    margin: auto;
    width: 50%;
}

.enviar-botao{
    padding: 6px 12px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
}
.enviar-botao:hover .enviar-botao:active{
    background-color: white;
    border-color:#f01515;
    transition: max-height 500ms;

} */
